# Binance Futures Testnet credentials
# Obtain these from: https://testnet.binancefuture.com
BINANCE_API_KEY=JFzu0usA0EbIjEXesvB6kUNlCmOI2bkHXt2339l8385m22inWS1Ja5XWJFSlfCMt
BINANCE_API_SECRET=e5n42b2ttA3HSyD9q4CiFyl6oUCLhL00FbgUExgXtcYBw7DbqbKTJJMi5opKcNin
